@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
  background-color: #141414;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

header{
    text-align: right;
    height: 50px;
    background-color: #1a1a1a;
}

header a{
    margin: 2%;
    text-decoration: none;
}

.allTheA{
    padding: 10px;
}

.buttonCoDeco{
    float: left;
    background-color: #1a1a1a;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    padding: 10px;
}

.catchphrase{
    font-size: 4em;
    text-align: center;
    height: 800px;
}

.divImg{
    display: flex;
    flex-direction: column;
    margin: auto ;
    width: 50%;
    height: 50%;
}
