@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
  background-color: #141414;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

header{
    text-align: right;
    height: 50px;
    background-color: #1a1a1a;
    margin-bottom: 50px;
}

header a{
    margin: 2%;
    text-decoration: none;
}

.allTheA{
    padding: 10px;
}

.buttonCoDeco{
    float: left;
    background-color: #1a1a1a;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    padding: 10px;
}

.column{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.Element{
    margin-top: 20px;
    margin-left: 25%;
    width: 50%;
    background-color: #1a1a1a;
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}

.Saisie{
    width: 100%;
    background-color: #1a1a1a;
    color: white;
    border: none;
    outline: none;
    padding: .25em .5em .5em 0;
}

.Envoyer{
    margin-top: 20px;
    background-color: #1a1a1a;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    padding: 10px;
}

.Forminput{
    width: 25%;
    background-color: #1a1a1a;
    color: white;
    border: none;
    outline: none;
    padding: .25em .5em .5em 0;
}


/* button{
    background-color: #1a1a1a;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    padding: 10px;
} */

.white-space{
    white-space : pre-wrap;
  }

.divImg{
    display: flex;
    flex-direction: column;
    margin: auto ;
    width: 50%;
    height: 50%;
}

td{
    text-align: center;
    padding-top: 20px;
}