    <header>
      <div id="buttonCoDeco" class="buttonCoDeco"></div>
      <div id="allTheA" class="allTheA">
        <a href="/">Accueil</a>
        <a href="/top">Top</a>
        <a href="/liste">Liste</a>
        <a href="/formFilm">Ajouter Film</a>
      </div>
    </header>
      <div id="container" class ="container">
      </div>
      <script>
        var user=null;
        // Récupérer les données JSON du serveur
        fetch('/user')
        .then(response => response.json())
        .then(json => {
            user = json;
            console.log("Valeur de user: " + user);
      
            if (user == null) {
            var button = document.createElement("button");
            var abutton = document.createElement("a");
            button.textContent="se connecter";
            abutton.href="/connexion";
            button.id="connexion";
            abutton.appendChild(button);
            document.getElementById("buttonCoDeco").appendChild(abutton);
            }
            else{
              var button = document.createElement("button");
              var abutton = document.createElement("a");
              button.textContent="se déconnecter";
              abutton.href="/deconnexion";
              button.id="déconnexion";
              abutton.appendChild(button);
              document.getElementById("buttonCoDeco").appendChild(abutton);
  
              // var a = document.createElement("a");
              // a.textContent="Stats";
              // a.href="/stats";
              // document.getElementById("allTheA").appendChild(a);
  
              a = document.createElement("a");
              a.textContent="Recommandation";
              a.href="/formRecommandation";
              document.getElementById("allTheA").appendChild(a);
          }
        });
      </script>